<header id="header" class="main-page-header" itemscope itemtype="http://schema.org/WPHeader">
	<div class="top-navigation">
		<div class="top-navigation-left">
		    <a href="{{ siteRoot }}" title="{{ 'Home' | translate }}" class="logo-link">
		        <h1 itemprop="headline">
		            <span class="visual-hide">{{ siteName }}</span>
					{% for asset in general.logo.all() %}
						<img src="{{ asset.url }}" class="main-logo" alt="{{ siteName }}" width="{{ asset.width }}" height="{{ asset.height }}">
					{% endfor %}
		        </h1>
		    </a>
		</div>
		<div class="top-navigation-right">
			{% include 'partials/navigation.twig' %}
		</div>
	</div>
	<a class="hamburger" aria-label="{{ 'Open Mobile Menu' | translate }}" title="{{ 'Open Mobile Menu' | translate }}" data-toggle="offCanvasRight">
		<span class="bar"></span>
	</a>
</header>