<div class="gallery-main">
{% set entries = craft.entries.relatedTo(category) %}
{% for entry in entries %}
	<div class="gallery-item">
		<a aria-label="{{ 'View' | translate }} {{ entry.title }}" title="{{ 'View' | translate }} {{ entry.title }}" href="{{ entry.url }}" class="grid-overlay-link">
			{% for image in entry.coverImage %}
				<img src="{{ image.getUrl('coverImage') }}" alt="{{ entry.title }}" width="{{ image.getWidth('coverImage') }}" height="{{ image.getHeight('coverImage') }}">
			{% endfor %}
			<div class="grid-overlay">
				<h3 itemprop="headline">{{ entry.title }}</h3>
			</div>
		</a>
	</div>
{% endfor %}
</div>