<meta charset="utf-8">
{% if metatags.xUaCompatible is defined %}<meta http-equiv="x-ua-compatible" content="{{ metatags.xUaCompatible }}">{% endif %}
{% if metatags.viewport is defined %}<meta name="viewport" content="{{ metatags.viewport }}">{% endif %}
{% if entry.slug == 'homepage' %}
	<title>{{ siteName }}</title>
{% else %}
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
{% endif %}
<link type="text/plain" rel="author" href="{{ siteRoot }}humans.txt">
{% for asset in metatags.appleTouchIcon %}
	<link rel="apple-touch-icon" sizes="180x180" href="{{ asset.url }}">
{% endfor %}
{% for asset in metatags.favicon32x32 %}
	<link rel="icon" type="image/png" href="{{ asset.url }}" sizes="32x32">
{% endfor %}
{% for asset in metatags.favicon16x16 %}
	<link rel="icon" type="image/png" href="{{ asset.url }}" sizes="16x16">
{% endfor %}
<link rel="manifest" href="{{ siteRoot }}manifest.json">
{% for asset in metatags.maskIcon %}
	<link rel="mask-icon" href="{{ asset.url }}" color="#5bbad5">
{% endfor %}
<meta name="apple-mobile-web-app-title" content="{{ siteName }}">
<meta name="application-name" content="{{ siteName }}">
{% for asset in entry.coverImage %}
	<link rel="image_src" href="{{ siteUrl }}{{ asset.getUrl('metaImageFit') }}">
{% endfor %}
{% if metatags.themeColor and metatags.themeColor != '#000000' %}
	<meta name="theme-color" content="{{ metatags.themeColor }}">
{% endif %}
{% if metatags.handheldfriendly is defined %}<meta name="HandheldFriendly" content="true">{% endif %}
{% if summary != null %}
	<meta name="description" content="{{ summary }}&hellip;">
{% elseif description is defined %}
	<meta name="description" content="{{ description }}">
{% endif %}
{% if entry.slug == 'homepage' %}
	<meta itemprop="name" content="{{ siteName }}">
{% else %}
	{% if title is defined %}
		<meta itemprop="name" content="{{ title }}">
	{% else %}
		<meta itemprop="name" content="{{ siteName }}">
	{% endif %}
{% endif %}
{% if entry.slug == 'homepage' %}
	<meta property="og:title" content="{{ siteName }}">
{% else %}
	{% if title is defined %}
		<meta property="og:title" content="{{ title }}">
	{% else %}
		<meta property="og:title" content="{{ siteName }}">
	{% endif %}
{% endif %}
<meta property="og:url" content="{{ entry.url }}">
{% if summary != null %}
	<meta property="og:description" content="{{ summary|striptags }}&hellip;">
{% elseif description is defined %}
	<meta property="og:description" content="{{ description|striptags }}">
{% endif %}
<meta property="og:site_name" content="{{ siteName }}">
<meta property="og:type" content="Website">
{% for asset in entry.coverImage %}
	<meta property="og:image" content="{{ siteUrl }}{{ asset.getUrl('metaImageFit') }}">
	<meta property="og:image:width" content="{{ asset.getWidth('metaImageFit') }}">
	<meta property="og:image:height" content="{{ asset.getHeight('metaImageFit') }}">
	<meta property="og:image:type" content="{{ asset.getMimeType('metaImageFit') }}">
{% endfor %}
<meta property="og:locale" content="{{ craft.locale }}">
{% if metatags.facebookAppId is defined %}<meta property="fb:app_id" content="{{ metatags.facebookAppId }}">{% endif %}
{% if entry.slug == 'homepage' %}
	<meta name="twitter:title" content="{{ siteName }}">
{% else %}
	{% if title is defined %}
		<meta name="twitter:title" content="{{ title }}">
	{% else %}
		<meta name="twitter:title" content="{{ siteName }}">
	{% endif %}
{% endif %}
{% if summary != null %}
	<meta name="twitter:description" content="{{ summary }}&hellip;">
{% elseif description is defined %}
	<meta name="twitter:description" content="{{ description }}">
{% endif %}
<meta name="twitter:card" content="summary">
{% for asset in entry.coverImage %}
	<meta name="twitter:image" content="{{ siteUrl }}{{ asset.getUrl('metaImageFit') }}">
	<meta name="twitter:image:width" content="{{ asset.getWidth('metaImageFit') }}">
	<meta name="twitter:image:height" content="{{ asset.getHeight('metaImageFit') }}">
	<meta name="twitter:image:alt" content="{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}">
{% endfor %}
{% if metatags.robots is defined %}<meta name="robots" content="{{ metatags.robots }}">{% endif %}
{# Google Analytics #}
{% if metatags.googleAnalyticsCode is defined %}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ metatags.googleAnalyticsCode }}', 'auto');
		ga('send', 'pageview');
	</script>
{% endif %}