{% extends 'layouts/_default' %}
{% set title = entry.title %}
{% set summary = entry.body|striptags %}

{% block content %}
	<main class="main-content gallery-page album-{{ entry.id }} album-{{ entry.slug }}"{% for category in entry.set %} id="{{ category.title }}"{% endfor %} itemscope="" itemprop="mainContentOfPage" itemtype="http://schema.org/WebPageElement">
		<header class="page-title-container">
			<h1 class="page-title" itemprop="headline">&#xe00c;{{ entry.title }}&#xe013;</h1>
		</header>
		<section class="row">
			<div class="contents small-12 column" itemprop="text">
				{{ entry.body }}
			</div>
			<div class="row image-items-list small-collapse" id="image-items-list">
				{% for image in entry.images %}
					<figure class="image-item" style="background-color: {{ random(['#e3c997', '#e6bb6a', '#bdae98', '#bd9659', '#e7ba62', '#856d48', '#4f3d28', '#f0d8a8', '#f0c060', '#d8a860', '#d8c090', '#c09048', '#a87848']) }}">
						<img data-original="{{ image.url }}" data-layout="{{ image.layout }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.title }}">
						<div class="pin-it-button">
							<a data-pin-do="buttonPin" data-pin-tall="true" data-pin-save="true" href="https://www.pinterest.com/pin/create/button/?url={{ entry.url }}&media={{ siteUrl }}{{ image.url }}&description={{ entry.title }} - {{ siteName }}"></a>
						</div>
					</figure>
				{% endfor %}
			</div>
		</section>
	</main>
{% endblock %}